%h2 Edit Repository

= render_cell :repository, :tabs, "overview", @repository

.repository-info
  %p
    %span Repository token
    %b= @repository.authentication_token
    ( for github hook )

= simple_form_for @repository, wrapper: "inline" do |form|
  = form.input :name, input_html: {class: "span5"}
  = form.input :description, input_html: {class: "span5"}
  = form.input :html_url, input_html: {class: "span5"}
  = form.input :git_url, input_html: {class: "span5"}
  = form.input :ssh_url, input_html: {class: "span5"}
  = form.input :branch, input_html: {class: "span5"}
  - if current_user.allow_privacy?
    = form.input :visible, hint: "if the repository is available to everyone"
  - else
    = form.input :visible, input_html: { disabled: "disabled", checked: true }, hint: "#{link_to('upgrade your plan', plans_path)} to set non public repository".html_safe
  - if @repository.private?
    = form.input :update_configs_url, input_html: {class: "span5"}
  .actions
    = form.button :submit, class: "primary"
