%h2 Edit Repository

= render_cell :repository, :tabs, "collaborators", @repository

.repository-info.clearfix
  .command
    %p= link_to "Synchronize github collaborators", sync_collaborators_repository_path(@repository), :class => "btn primary", :method => :put
    %br/
    %p Or add collaborator manually
    = form_tag add_collaborator_repository_path(@repository), :method => :put do
      = text_field_tag "collaborator", ""
      = submit_tag "Add", :class => "btn primary"
      %p input github name, like flyerhzm
  .collaborators
    %h3 Collaborators
    %ul
      - @repository.users.each do |user|
        %li
          = link_to user.nickname, "https://github.com/#{user.nickname}", :class => "nickname"
          = link_to "x", "#"
