%h2 Edit Repository

= simple_form_for @repository, wrapper: "inline" do |form|
  = form.input :name, input_html: {:class => "span5"}
  = form.input :description, input_html: {:class => "span5"}
  = form.input :html_url, input_html: {:class => "span5"}
  = form.input :git_url, input_html: {:class => "span5"}
  = form.input :ssh_url, input_html: {:class => "span5"}
  = form.input :branch, input_html: {:class => "span5"}
  .actions
    = form.button :submit, :class => "primary"

= render_cell :repository, :configurations_form, @repository
