- title "Edit repository #{@repository.github_name}"

%h2 Edit Repository

= render_cell :repository, :tabs, "overview", @repository

.repository-info
  %p
    %span Repository token
    = link_to "", "#", class: "question_mark_icon", rel: "twipsy", title: "repository token is used to authorized github hook, paste it to github railsbp hook"
    %b= @repository.authentication_token
    ( for github hook )

= simple_form_for @repository, wrapper: "inline" do |form|
  = form.input :name, input_html: {class: "span5"}
  = form.input :description, input_html: {class: "span5"}
  = form.input :html_url, input_html: {class: "span5"}
  = form.input :git_url, input_html: {class: "span5"}
  = form.input :ssh_url, input_html: {class: "span5"}
  = form.input :branch, input_html: {class: "span5"}, label: "Branch #{link_to '', '#', class: 'question_mark_icon', rel: 'twipsy', title: 'only when push codes to the branch will trigger railsbp service'}".html_safe
  = form.input :visible, label: "Visibility #{link_to '', '#', class: 'question_mark_icon', rel: 'twipsy', title: 'analyze result is visible to everyone if check, otherwise it is accessible only by collaborators'}".html_safe, hint: "if the repository is visible to everyone"
  - if @repository.private?
    = form.input :update_configs_url, label: "Update configs url #{link_to '', '#', class: 'question_mark_icon', rel: 'twipsy', title: 'update configs url is used to update rails_best_practices.yml on proxy server'}".html_safe, input_html: {class: "span5"}
  .actions
    = form.button :submit, class: "primary"
