- title "Edit repository #{@repository.github_name}"

%h2 Edit Repository

= render 'tabs', active_class_name: "overview", repository: @repository

.repository-info
  %p
    %span Repository token
    = link_to "", "#", class: "question_mark_icon", rel: "tooltip", title: "repository token is used to authorized github hook, paste it to github railsbp hook"
    %b= @repository.authentication_token

  = simple_form_for @repository do |form|
    = form.input :name
    = form.input :description
    = form.input :html_url
    = form.input :git_url
    = form.input :ssh_url
    = form.input :visible, label: "Visibility #{link_to '', '#', class: 'question_mark_icon', rel: 'tooltip', title: 'analyze result is visible to everyone if check, otherwise it is accessible only by collaborators'}".html_safe, hint: "if the repository is visible to everyone"
    = form.button :submit
