%h2= @repository.github_name

= link_to 'Configure', edit_repository_path(@repository), :class => "config btn primary"
%ul.tabs
  %li.active= link_to "Current", repository_path(@repository)
  %li= link_to "History", repository_builds_path(@repository)

.current
  - if @repository.builds.last.try(:completed?)
    %dl.summary.clearfix
      .left
        %dt Build
        %dd #{@repository.builds.size}
        %dt Warnings
        %dd #{@repository.warning_count}
        %dt Commit
        %dd #{@build.short_commit_id}
      .right
        %dt Duration
        %dd #{distance_of_time_in_words(@build.created_at, @build.updated_at, true)}
        %dt Finished
        %dd #{time_ago_in_words(@build.updated_at)} ago
      %dt Message
      %dd.message #{@build.last_commit_message}
    %h3 Analyze Result
    = render :inline => File.read(@build.analyze_file)
