Dear #{@user.nickname}:

This is a receipt for your Railsbp subscription. This is only a receipt, no payment is due. If you have any questions, please contact us anytime at support@railsbp.com. Thank you for your business!

= "------------------------------"
RAILSBP RECEIPT - #{@invoice.created_at.to_s(:db)}
User: #{@user.nickname}
Plan: #{@user.plan.name}
Amount: USD #{number_to_currency(@invoice.total / 100.0)}
= "------------------------------"
