%header.topbar
  .topbar-inner
    .container-fluid
      %h3#title
        .railsbp_logo
        = link_to "Railsbp", root_path, class: 'brand'
      %ul.nav
        %li= link_to "Home", root_path
        %li= link_to "How it works", page_path(name: "how-it-works")
        %li= link_to "About", page_path(name: "about")
        %li= link_to "FAQ", page_path(name: "faq")
        %li= link_to "Contact", new_contact_path
      - if @user
        %ul.nav.secondary-nav
          - if @repositories.blank?
            %li= link_to "Create Repository", new_repository_path
          - else
            %li.dropdown
              = link_to @repository.try(:name) || "Select a repository", "#", :class => "dropdown-toggle"
              %ul.dropdown-menu
                - @repositories.each do |repository|
                  - unless repository.new_record?
                    %li= link_to repository.name, repository_path(repository)
                %li.divider
                %li= link_to "Create Repository", new_repository_path
          %li= link_to "Sign out", destroy_user_session_path, method: :delete
          %li= link_to "Account Setting", edit_user_registration_path
          %li.avatar= image_tag @user.gravatar_url size: 24, secure: true
      - else
        %nav= link_to "Sign in with Github", user_omniauth_authorize_path(:github), :class => 'primary btn'
