%h2= @repository.github_name

= render_cell :build, :tabs, "history", @repository

.history
  - if @builds.present?
    %table
      %thead
        %th Build
        %th Commit
        %th Message
        %th Duration
        %th Finished
      %tbody
        - @builds.each_with_index do |build, index|
          %tr
            %td= link_to @builds.size - index, repository_build_path(@repository, build)
            %td #{build.short_commit_id}
            %td #{build.last_commit_message}
            %td #{distance_of_time_in_words(build.created_at, build.updated_at, true)}
            %td #{time_ago_in_words(build.updated_at)} ago
