%h2= @repository.github_name

= render_cell :build, :tabs, "history", @repository

.history
  - if @builds.present?
    #buildsChart{ data: { categories: @builds.map(&:position), data: @builds.map(&:warning_count), repository: @repository.github_name } }
    %table.condensed-table.zebra-striped
      %thead
        %th.build Build
        %th.commit Commit
        %th.message Message
        %th.duration Duration
        %th.finished Finished
      %tbody
        - @builds.each do |build|
          %tr{data: {url: repository_build_path(@repository, build)}}
            %td #{build.position}
            %td #{build.short_commit_id}
            %td #{build.last_commit_message}
            %td #{build.duration} secs
            %td #{time_ago_in_words(build.finished_at)} ago
