%h2= @repository.github_name

= render_cell :build, :tabs, "history", @repository

.history
  - if @builds.present?
    %table.condensed-table.zebra-striped
      %thead
        %th.build Build
        %th.commit Commit
        %th.message Message
        %th.duration Duration
        %th.finished Finished
      %tbody
        - @builds.each do |build|
          %tr
            %td= link_to build.position, repository_build_path(@repository, build)
            %td #{build.short_commit_id}
            %td #{build.last_commit_message}
            %td #{distance_of_time_in_words(build.created_at, build.updated_at, true)}
            %td #{time_ago_in_words(build.updated_at)} ago
