- title "Repository #{@repository.github_name} builds history"

%h2= @repository.github_name

= render 'tabs', active_class_name: "history", repository: @repository, build: nil
= render 'history_links', repository: @repository, builds_count: builds_count

#history
  - if @builds.present?
    #buildsChart{ data: { categories: @builds.map(&:position), data: @builds.map(&:warning_count), repository: @repository.github_name } }
    %table.table.table-striped.table-condensed
      %thead
        %th.build Build
        %th.branch Branch
        %th.warning_count Warning Count
        %th.commit Commit
        %th.message Message
        %th.duration Duration
        %th.finished Finished
      %tbody
        - @builds.each do |build|
          %tr{data: {url: repository_build_path(@repository, build)}}
            %td #{build.position}
            %td #{build.branch}
            %td #{build.warning_count}
            %td #{build.short_commit_id}
            %td #{build.last_commit_message}
            %td #{build.duration} secs
            %td #{time_ago_in_words(build.finished_at)} ago
