- title "Repository #{@repository.github_name} build ##{@build.position}"

%h2= @repository.github_name

= render 'tabs', active_class_name: "build", repository: @repository, build: @build
= render 'content', build: @build
