- title "Repository #{@repository.github_name} build ##{@build.position}"

%h2= @repository.github_name

= render_cell :build, :tabs, "build", @repository, @build
= render_cell :build, :content, @repository, @build
