= form_for @repository, url: [@repository, :configs], method: :put do |form|
  %fieldset
    - index = 0
    - @categories.each do |category|
      .subtitle= category.name
      .input
        %ul.inputs-list
          - category.configurations.each do |configuration|
            - index += 1
            %li
              %label
                = check_box_tag "repository[configs][#{index}][name]", configuration.name, !@configs[configuration.name].nil?
                = link_to configuration.description, configuration.url, target: "_blank"
              - configuration.parameters.each do |parameter|
                %label
                  %span= "#{parameter.name}: "
                  - if parameter.kind == "array"
                    = text_area_tag "repository[configs][#{index}][#{parameter.name}]", (@configs[configuration.name].try(:[], parameter.name) || parameter.value).join(", "), class: "span6"
                  - else
                    = text_field_tag "repository[configs][#{index}][#{parameter.name}]", (@configs[configuration.name].try(:[], parameter.name) || parameter.value), class: "string span1"
                  %span.description= parameter.description
  .form-actions
    = form.submit "Save Configurations", class: "btn btn-primary"
