%h2 Contact Us

%p.contact You can also contact #{link_to '@railsbp', 'http://twitter.com/railsbp'} on Twitter, or send an email to #{link_to 'contact-us@railsbp.com', 'mailto:contact-us@railsbp.com'}
= simple_form_for @contact, wrapper: "inline" do |form|
  = form.input :name, input_html: {:class => "span5"}, :label => "Your Name"
  = form.input :email, input_html: {:class => "span5"}, :label => "Your Email"
  = form.input :message, as: :text, input_html: {:class => "span8"}
  .actions
    = form.button :submit, "Submit", :class => "primary"

