- title "Contact Us"

%h2 Contact Us

%p.contact You can also contact #{link_to '@railsbp', 'https://twitter.com/railsbp'} on Twitter, or send an email to #{link_to 'contact-us@railsbp.com', 'mailto:contact-us@railsbp.com'}
= simple_form_for @contact do |form|
  = form.input :name, label: "Your Name"
  = form.input :email, label: "Your Email"
  = form.input :message, as: :text
  = form.button :submit, class: "btn btn-default"

