%h2 Account Settings

= render_cell :account, :tabs

= form_for [@plan, @subscription] do |f|
  - if @subscription.errors.any?
    .alert-message.block-message.error
      - @subscription.errors.full_messages.each do |msg|
        %p= msg
  = f.hidden_field :stripe_card_token
  .clearfix.string
    = f.label :email, :class => "clearfix string"
    .input= f.text_field :email, :value => current_user.email, :class => "string span5"
  - if @subscription.stripe_card_token
    .alert-message.block-message.info Credit card has been provided.
  - else
    .clearfix.string
      = label_tag :card_number, "Credit Card Number ", :class => "clearfix string"
      .input= text_field_tag :card_number, nil, name: nil, :class => "string span5"
    .clearfix.string
      = label_tag :card_code, "Security Code on Card (CVV)", :class => "clearfix string"
      .input= text_field_tag :card_code, nil, name: nil, :class => "string span5"
    .clearfix.string
      = label_tag :card_month, "Card Expiration", :class => "clearfix string"
      .input
        = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
        = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
  #stripe_error
    %noscript
      .alert-message.block-message.error JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
  .actions= f.submit "Subscribe", :class => "btn primary"

