!!!
%html
  %head
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    = display_meta_tags site: "Railsbp", description: "rails best practices, code review, rails code analyze"
  %body
    = render_cell :header, :display, current_user, @repository
    %section#share= render "shared/addthis"
    %section#flash
      .container-fluid
        = notice_message
    %section#primary
      .content
        .well
          .pledgie= render 'shared/pledgie'
          = yield
    %footer.footer
      .inner
        .container
          %p.pull-right
            = link_to 'Railsbp on Twitter', 'http://twitter.com/railsbp', class: 'twitter'
          %p
            © Railsbp, 2012
    = render 'shared/fork_me_on_github'
    = javascript_include_tag "application", "http://s7.addthis.com/js/250/addthis_widget.js#pubid=flyerhzm"
