!!!
%html
  %head
    %title Rails Best Practices Service
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    = render_cell :header, :display, current_user
    %section#flash
      .container-fluid
        = notice_message
    - unless user_signed_in?
      %section#overview
        .inner
          .container
            .row
              %section.span5.columns
                %h2 What's Raisbp?
                %p Railsbp helps you to follow rails best practices.
                %p We parse source codes of your rails project and gives some suggestions to improve your code quality.
              %section.span11.columns
                %h2 How much does it cost?
                %p
    %section#primary
      .content
        .well= yield
    %footer.footer
      .inner
        .container
          %p.pull-right
            = link_to 'Railsbp on Twitter', 'http://twitter.com/railsbp', :class => 'twitter'
          %p
            © Railsbp, 2011
            = link_to 'Terms of Service', '#'
            = link_to 'Privacy Policy', '#'
    = javascript_include_tag "application"
