!!!
%html
  %head
    %title Rails Best Practices Service
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    %header.topbar
      .topbar-inner
        .container-fluid
          %h3#title= link_to "Railsbp", root_path, :class => 'brand'
          %ul.nav
            %li= link_to "Home", '#'
            %li= link_to "About", '#'
            %li= link_to "Contact", '#'
          - if user_signed_in?
            %ul.nav.secondary-nav
              %li= link_to "Sign out", destroy_user_session_path, :method => :delete
              %li.avatar= image_tag current_user.gravatar_url :size => 24
          - else
            %nav= link_to "Sign in with Github", user_omniauth_authorize_path(:github), :class => 'primary btn'
    %section#flash
      .container-fluid
        = notice_message
    - unless user_signed_in?
      %section#overview
        .inner
          .container
            .row
              %section.span5.columns
                %h2 What's Raisbp?
                %p Railsbp helps you to follow rails best practices.
                %p We parse source codes of your rails project and gives some suggestions to improve your code quality.
              %section.span11.columns
                %h2 How much does it cost?
                %p
    %section#primary
      .container-fluid
        .sidebar
          .well
            = link_to "Add Project", new_repository_path, :class => 'btn primary'
            %ul.tabs
              - if user_signed_in?
                %li.active= link_to "My Projects", "#"
              %li= link_to "Public Projects", "#"
            - if user_signed_in?
              %ul.repositories
                - current_user.repositories.each do |repository|
                  %li
                    = link_to repository.name, repository_path(repository)
                    %p Updated: #{time_ago_in_words(repository.updated_at)} ago
        .content
          = yield
    %footer.footer
      .inner
        .container
          %p.pull-right
            = link_to 'Railsbp on Twitter', 'http://twitter.com/railsbp', :class => 'twitter'
          %p
            © Railsbp, 2011
            = link_to 'Terms of Service', '#'
            = link_to 'Privacy Policy', '#'
    = javascript_include_tag "application"
